/* Breadcrumbs */
.breadcrumbs {
  @include rem(margin-bottom, 20px);
}
.breadcrumb {
  @include rem(margin-bottom, 30px);
  .breadcrumb-item {
    &:before {
      color: $colour-breadcrumb-divider;
    }
  }
  .breadcrumb-link {
    color: $colour-breadcrumb-link;
    &:hover {
      color: $colour-breadcrumb-link-hover;
    }
  }
  .section {
    color: $colour-breadcrumb-link;
    &:hover {
      color: $colour-breadcrumb-link;
    }
  }
}
