/* Page banner */
.page-banner-background {
  background-color: #eee;
  border-bottom: 1px solid #ddd;
}
.page-banner {
  @include rem(padding-top, 15px);
  @include rem(padding-bottom, 15px);
  h1 {
    margin: 0;
  }
}
