/* Sidebar */
.sidebar {
  padding-left: 0;
  list-style: none;
  ul {
    @include rem(padding-left, 22px);
    list-style: none;
  }
  li {
    a {
      @include rem(padding, 2px 0px 2px 0px);
      display: block;
    }
    .link {
      color: $colour-sidebar-link;
      &:hover {
        color: $colour-sidebar-link-hover;
      }
    }
    .current {
      color: $colour-sidebar-link-current;
      &:hover {
        color: $colour-sidebar-link-current-hover;
      }
    }
    .section {
      color: $colour-sidebar-link-section;
      &:hover {
        color: $colour-sidebar-link-section-hover;
      }
    }
  }
}
