.navbar-form-desktop {
  @media (max-width: $screen-sm-min) {
    display: none;
  }
}
.navbar-form-mobile {
  @include rem(margin-top, 10px);
  display: none;
  position: relative;
  .form-group {
    @include rem(padding-right, 80px);
    margin: 0;
  }
  #SearchForm_SearchForm_action_results {
    position: absolute;
    top: 0;
    right: 0;
  }
  @media (max-width: $screen-sm-min) {
    display: block;
  }
}
