/* Header */
header {
  @include rem(padding, 20px 0px 20px 0px);
  background-color: #fff;
}
.logo {
  float: left;
  color: #000;
  &:hover {
    text-decoration: none;
    color: #000;
  }
}
.site-title,
.site-tagline {
  margin: 0;
}
.site-title {
  @include rem(font-size, 28px);
}
.site-tagline {
  @include rem(font-size, 16px);
}
